@media -sass-debug-info{filename{}line{font-family:\000031}}
body {
  background-color: #fff000;
}

@media -sass-debug-info{filename{}line{font-family:\000034}}
h1 {
  color: red;
  text-align: center;
}
