{% extends "layout/public_layout.html" %}
{% block header %}
<header class="small-header">
  <div class="container">
    <h2>About Facture</h2>
    <hr>
  </div>
</header>
<section class="container">
  <h3>Lo crem ipsum dolor</h3>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eligendi itaque accusamus officia nihil quae, omnis deleniti quas facere eius accusantium dolor fugit obcaecati explicabo tenetur deserunt tempora assumenda asperiores.
</section>
<section class="container">
  <h3>Lorem ipsum</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eum.</p>
</section>

{% endblock %}
