<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Facture</title>
        {% else %}
            <title>Facture</title>
        {% endif %}
        <meta charset="utf-8">
        <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>