<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      {% if title %}
          <title>{{ title }} - Facture</title>
      {% else %}
          <title>Facture</title>
      {% endif %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
      {# Import the assets from assets.py #}
      {% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
      {% endassets %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    </head>
    <body>
        <div class="wrapper">

          <nav>
            <section class="container">
              <a href="#" class="navigation-title">FACTURE</a>
              <ul class="navigation-list float-right">
                <li class="navigation-item">
                  <a href="#" class="navigation-link">
                    About
                  </a>
                </li>
                <li class="navigation-item">
                  <a id="btn-login" href="#" class="navigation-link">
                    Log in
                  </a>
                </li>
              </ul>
            </section>
          </nav>

          <header>
            <div class="container">
              <h1>Facture</h1>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, soluta.
              </p>
              <a href="#" class="button button-google" title="Sign in with Google+"><i class="ion-social-googleplus"></i></a>
            </div>
          </header>

          <section class="container">
            {% block content %}
            {% endblock %}
          </section>
        </div>

        {# Scripts #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script src="/static/vendor/sweetalert/sweetalert.min.js"></script>
        {% assets "common_js" %}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
